[submodule "RPI/RPIimage/root/.mikutter/plugin/twitter_api_keys"]
	path = RPI/RPIimage/root/.mikutter/plugin/twitter_api_keys
	url = https://github.com/toshia/twitter_api_keys.git
[submodule "RPI/RPIimage/root/.mikutter/plugin/mikutter-worldon"]
	path = RPI/RPIimage/root/.mikutter/plugin/mikutter-worldon
	url = https://github.com/cobodo/mikutter-worldon
