vmtype=luna
#prom-use-rom=0
#spc0-id6-writeprotect=1 #disk write protect for stopping with ^C in demonstration
ram-size=128
hostnet-driver = tap
hostnet-tap-devpath = auto
spc0-id5-image=cd,nycdn.netbsd.org/pub/NetBSD-daily/HEAD/202208301050Z/images/NetBSD-9.99.99-luna68k.iso
spc0-id6-image=hd,liveimage-luna68k-raw-2022-08-31.img
#hostcom-driver = stdio
#4bpp 0.2.5
luna-video-plane = 4

